.cover__link {
  position: relative;
  display: block;
  max-width: 1184px;
  width: 100%;
  padding-bottom: 62.5%;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  z-index: 1;
  text-decoration: none;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: .8;
}
