.footer__list {
  display: inline;
  margin-right: 18px;
}

.footer__list:last-of-type {
  margin-right: 0;
}

@media (max-width: 760px) {
  .footer__list {
    display: block;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__list:last-of-type {
    margin-bottom: 0px;
  }
}
